<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Alanave28/blob/main/CursoIBMAlanFernandez_P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODULO 1

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
# print('Hello World!')

In [ ]:
int(1.0)

1

In [ ]:
bool(1)

True

In [ ]:
print('Hello, Python!')

Hello, Python!

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [ ]:
frint("Hello, Python!")

NameError: ignored

In [ ]:
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

In [ ]:
type(12)

int

In [ ]:
type(2.14)
type("Hello, Python 101!")
type(12.0)

float

In [ ]:
type(2)

int

In [ ]:
float(2)

2.0

In [ ]:
type(float(2))

float

In [ ]:
int(1.1)

1

In [ ]:
int('1')

1

In [ ]:
int('1 or 2 people')

ValueError: ignored

In [ ]:
float('1.2')

1.2

In [ ]:
str(1)

'1'

In [ ]:
str(1.2)

'1.2'

In [ ]:
type(true)

NameError: ignored

In [ ]:
type(True)

bool

In [ ]:
int(True)

1

In [ ]:
float(False)

0.0

In [ ]:
bool(1.0)

True

In [ ]:
bool(0)

False

In [ ]:
type(6/2)

float

In [ ]:
type(6//2)

int

In [ ]:
25 / 6

4.166666666666667

In [ ]:
25 // 6

4

In [ ]:
30 + 2 * 60

150

In [ ]:
(30 + 2) * 60

1920

In [ ]:
x = 43 + 60 + 16 + 41
x

160

In [ ]:
total_min = 43 + 42 + 57
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [ ]:
name = "Michael Jackson"
name

'Michael Jackson'

MODULO 2

In [7]:
#Create a Tuple
A=(0,1,2,3)
print(A)

(0, 1, 2, 3)

In [8]:
#Find the Elements of a Tuple
A[0:2]

(0, 1)

In [9]:
#LIST
B=["a","b","c"]
B[0:2]
B[0].upper()
B[0] = 'A'
print(B)

['A', 'b', 'c']

In [10]:
#Cast a List to a Set 
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [11]:
#Add an Element to the Set
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

In [12]:
#Intersection of Sets
A={1,2,3,4,5}
B={1,3,9, 12}
A&B

{1, 3}

In [13]:
#Find the Value of a Key
D={'a':0,'b':1,'c':2}
D["a"]

0

In [14]:
#Keys of a Dictionary
D.keys()

dict_keys(['a', 'b', 'c'])

In [19]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [20]:
# Print the type of the tuple you created
type(tuple1)

tuple

In [21]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [22]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
# Use negative index to get the value of the last element
tuple1[-1]

1.2

In [24]:
# Use negative index to get the value of the second last element
tuple1[-2]

10

In [25]:
# Use negative index to get the value of the third last element
tuple1[-3]

'disco'

In [26]:
# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [27]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [28]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

In [29]:
# Get the length of tuple
len(tuple2)

5

In [30]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [31]:
# Sort the tuple
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [32]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [33]:
# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [34]:
# Print element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [35]:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

In [36]:
# Print the second element in the second nested tuples
NestedT[2][1][1]

'o'

In [37]:
# Print the first element in the second nested tuples
NestedT[4][1][0]

1

In [38]:
# Print the second element in the second nested tuples
NestedT[4][1][1]

2

In [39]:
# sample tuple
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [40]:
#length of the tuple
len(genres_tuple)

8

In [41]:
#Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [42]:
#Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [43]:
#ind the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [44]:
#Find the first index of "disco":
genres_tuple.index("disco")

7

In [45]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [46]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [47]:
# Print the elements on each index
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [49]:
# List Content
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [50]:
# List Operations
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [51]:
# List slicing
L[3:5]

['MJ', 1]

In [52]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [53]:
# Use append to add elements to list
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [54]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [55]:
# Use append to add elements to list
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [56]:
# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [57]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [58]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [59]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [60]:
# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [61]:
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [62]:
# Clone (clone by value) the list A
B = A[:]
B

['banana', 10, 1.2]

In [63]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [64]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

In [65]:
#Find the value stored at index 1 of a_list.
a_list[1]

'hello'

In [66]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['hello', [1, 2, 3], True]

In [67]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

In [68]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [69]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [70]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [71]:
# Set operations
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [72]:
# Add element to set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [73]:
# Try to add duplicate element to the set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [74]:
# Remove the element from set
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [75]:
# Verify if the element is in the set
"AC/DC" in A

True

In [76]:
#Sets Logic Operations
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [77]:
# Print two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [78]:
# Find the intersections
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [79]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

{'Thriller'}

In [80]:
#The elements in album_set2 but not in album_set1 is given by:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [81]:
# Use intersection method to find the intersection of album_list1 and album_list2
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [82]:
# Find the union of two sets
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [83]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [84]:
# Check if subset
set(album_set2).issubset(album_set1)

False

In [86]:
#Here is an example where issubset() and issuperset() return true:
# Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [87]:
# Check if superset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [88]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

In [89]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [90]:
#Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [91]:
#Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

True

In [92]:
# Create the dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [93]:
# Access to the value by the key
Dict["key1"]

1

In [94]:
# Access to the value by the key
Dict[(0, 1)]

6

In [95]:
# Create a sample dictionary
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [96]:
# Get value by keys
release_year_dict['Thriller']

'1982'

In [97]:
# Get value by key
release_year_dict['The Bodyguard']

'1992'

In [98]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [99]:
# Get all the values in dictionary
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [100]:
# Append value with key into dictionary
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [101]:
# Delete entries by key
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [102]:
# Verify the key is in the dictionary
'The Bodyguard' in release_year_dict

True

In [103]:
# Question sample dictionary
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [104]:
#a) In the dictionary soundtrack_dic what are the keys ?
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [105]:
#b) In the dictionary soundtrack_dic what are the values ?
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [106]:
#a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

In [107]:
#b) Use the dictionary to find the total sales of Thriller:
album_sales_dict["Thriller"]

65

In [108]:
#c) Find the names of the albums from the dictionary using the method keys():
album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [109]:
#d) Find the values of the recording sales from the dictionary using the method values:
album_sales_dict.values()

dict_values([50, 50, 65])